.input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: .3rem;
  border-bottom: .1rem solid var(--classic);
  transition: border-bottom-color 250ms linear;
  &:focus,
  &:active {
    border-bottom-color: var(--warning);
  }
}
